:root {
  --headingbg-color: rgb(26, 244, 26);
  --head-color: hotpink;
  --primarybg-color: 	#50C878;
  --secbgcolor: lightgreen;
  --color: darkorange;
  --fontsize: 20px;
  --fontstyle:italic;
  --navcolor:#0FFF50;
}
h2,
h3 {
  text-transform: capitalize;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--headingbg-color);
  color: var(--head-color);
  padding: 2px;
  border-radius: 6px;
}

body {
  background-color: var(--primarybg-color);
}

.lists{
  list-style-type: lower-roman;
  background-color: var(--secbgcolor);
  border-radius: 3px;
  color: var(--color);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10px;
  line-height: 2;
  list-style-type: "😂";
  list-style-position: inside;
}
.body,.content{
  background-color:var(--secbgcolor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  color: var(--color);
  font-size:var(--fontsize);
  font-style: var(--fontstyle);
}

nav{
  background-color: var(--navcolor);
  padding: 10px;
  border-radius: 3px;
}
nav*{
  margin: 0px;
  padding: 0px;
}
.nav li{
  display: inline;
  list-style-type:none;
  padding: 20px;
  color:whitesmoke;
  font-weight:400px ;
  font-size: 18px;
}
.nav li:hover{
  background-color: var(--primarybg-color);
  color: var(--color);
  border-radius: 3px;
  text-decoration: underline;
  text-decoration-color: #0FFF50;
}
::selection{
  background-color: var(--primarybg-color);
  color: navajowhite;
}
