* {
  margin: 0;
  padding: 0;
}
nav {
  position: sticky;
  top: 0px;
}
nav ul {
  display: flex;
  position: sticky;
  padding: 10px;
  background-color: #e3c6ff;
  width: 100%;
}

ul li {
  list-style-type: none;
  padding: 10px;
}
.container {
  display: flex;
  margin: 3%;
  margin-top: 1%;
  border: 5px solid rgb(185, 15, 185);
  width: fit-content;
  background-color: #ffa5bb;
}
.box1 {
  margin: 2%;
  padding: 10px;
  width: 40vw;
  height: 60vh;
  border: 2px solid black;
  background-color: #4cd6f1;
}
.box2 {
  margin: 2%;
  padding: 10px;
  width: 40vw;
  height: 60vh;
  border: 2px solid black;
  background-color: #ff80ed;
  font-family: 'Hubballi', sans-serif;
}
body {
  height: 200vh;
  background-color: 	#e1eeff;
  overflow-x: hidden;

}
.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 20vh;
  margin: 2%;
  border: 1px solid black;
  font-family: "Cambria, Cochin", Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  background-color: #198ba3;
  border-radius: 16px;
  
}
.logo {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: #f7e752;
  border-radius: 50%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
  text-align: justify;

}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin-top: 2%;
  background-color: #82e6c2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 34px;
}
nav li:hover{
  background-color: #50C878;;
  color: darkorange;
  border-radius: 3px;
  text-decoration: underline;
  text-decoration-color: 	#20292c
}
::selection{
  background-color: #50C878;;
  color: navajowhite;
}
