*{
    margin: 0;
    padding: 0;
}
ul{
    
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    height: 5vh;
    padding: 15px;
    
}
ul li{
    list-style: none;
    font-size: 15px;
    font-weight: bold;

}
body{
    height: 200vh;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.box{
    display: flex;
    background-color: black;
    width:40px;
    height: 40px;
    border-radius: 4px;
    color: #ffff00;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
} 

.name{
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
} 

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 12rem;
}