* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 5%;
  width: 50vw;
  height: 80vh;
  align-items: flex-end;
  background-color: #58efec;
}

.ball {
  width: 70px;
  height: 70px;
  background-color: #c77dff;
  border-radius: 50%;
  animation: bounce 5s ease-in-out 0s infinite forwards;

}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(20px, -500px);
    background-color: rgb(200, 255, 0);

  }
  20% {
    transform: translate(40px, 0px);
    background-color: #c77dff;
  }

  30% {
    transform: translate(60px, -400px);
    background-color: #ff7d7d;
  }

  40% {
    transform: translate(80px, 0px);
    background-color: black;
  }
  50% {
    transform: translate(100px, -300px);
    background-color: #0bda1c;
  }
  60% {
    transform: translate(120px, 0px);
    background-color: #ff7d7d;
  }
  70% {
    transform: translate(140px, -200px);
    background-color: #c77dff;
  }
  80% {
    transform: translate(160px, 0px);
    background-color: #ff7d7d;
  }

  90% {
    transform: translate(180px, -100px);
    background-color: darkorange;
  }
  100% {
    transform: translate(200px, 0px);
    background-color: navajowhite;
  }
}